<!doctype html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyC9efZV5sak_Geyb6y7UMSfAaNt7fFUcfM&libraries=places"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="https://googlemaps.github.io/js-marker-clusterer/src/markerclusterer.js"></script>
    <script src="https://googlemaps.github.io/js-map-label/src/maplabel-compiled.js"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <!-- <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script> -->
    <script src="app.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
  </head>
  <body class="container" ng-controller="mapCtrl">

    <div class="header">
      <div class="header-row">
        <div class="left-col">
          <img class="logo" src="img/logo.png"></img>
        </div>
        <div class="col-xs-12 right-col">
          <div class="row upper-half">
            <div>

            </div>
          </div>
          <div class="row lower-half">
            
            <div class="col-xs-3 searchbar">
              <form class="navbar-form" role="search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" autocomplete="off" ng-model="searchText" uib-typeahead="station.title for station in allStations | filter:$viewValue | limitTo:8">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit" ng-click="search(searchText)"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
              </form>
            </div>
            <div class="col-xs-3 header-tab listing-type" id="simple-dropdown" auto-close="outsideClick" uib-dropdown-toggle uib-dropdown dropdown-append-to-body="true">
              LISTING TYPE <span class="caret"></span>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li class="menuitem" role="menuitem"><label><input type="checkbox" ng-model="listingOptions.isForSale" ng-change="listingFilterChanged(listingOptions, 'sale')"> FOR SALE {{saleCount === 0 ? '' : '(' + saleCount + ')'}}</label></li>
                <li class="menuitem" role="menuitem"><label><input type="checkbox" ng-model="listingOptions.isForRent" ng-change="listingFilterChanged(listingOptions, 'rent')"> FOR RENT {{rentCount === 0 ? '' : '(' + rentCount + ')'}}</label></li>
                <!-- <li class="divider"></li> -->
              </ul>
            </div>
            <div class="col-xs-4 header-tab search-by">
              SEARCH BY <span><img class="header-img" src="img/bts.jpg" ng-click="zoomTo('bts')"></img></span> <span><img class="header-img" src="img/mrt.png" ng-click="zoomTo('mrt')"></img></span> <span><img class="header-img" src="img/arl.jpg" ng-click="zoomTo('arl')"></img></span>
            </div>
            <div class="col-xs-2 header-tab" id="simple-dropdown" auto-close="outsideClick" uib-dropdown-toggle uib-dropdown dropdown-append-to-body="true">
              MORE <span class="caret"></span>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <div class="row">
                  <div class="col-xs-3">
                    <label class="filterlabel">Price</label>
                  </div>
                  <div class="col-xs-3">
                    <input placeholder="Min Price" type="text" ng-model="listingOptions.minPrice" ng-change="listingFilterChanged(listingOptions, 'minPrice')">
                  </div>
                  <div class="col-xs-3">
                    <input placeholder="Max Price" type="text" ng-model="listingOptions.maxPrice" ng-change="listingFilterChanged(listingOptions, 'maxPrice')">
                  </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-container">
      <div class="details-container">
        <div class="details-header">
          <h1>Details<span ng-hide="loading">: Displaying {{condos.length >= limit ? limit : condos.length}}/{{condos.length}} result(s)</span><span ng-show="loading">: Loading...</span></h1>
          <!--
          <div>
            <label>Listing Type: 
              <select ng-init="selectedType.listing_type = ''" ng-model="selectedType.listing_type" ng-options="o.value as o.label for o in listingOptions" ng-change="listingFilterChanged(selectedType.listing_type)">              
              </select>
            </label>
          </div>
          -->
        </div>
        <!--
        <div class="filters row">
          <div class="col-xs-1">
          </div>
          <div class="filter col-xs-2">
            HOUSES FOR YOU
          </div>
          <div class="filter col-xs-2">
            NEWEST
          </div>
          <div class="filter col-xs-2">
            CHEAPEST
          </div>
          <div class="filter col-xs-2">
            MORE
          </div>
          <div class="col-xs-2">
          </div>
        </div>
        -->
        <div class="details-container-left">
          <!-- ng-style="{'background-image':'linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), url('+imageList[$index]+')'}" -->
          <!-- back-img="{{imageList[$index]}}" -->
          <div back-img="{{condo.images[0]}}" class="details-image" ng-repeat="condo in condos = (condoList | limitTo:limit | filter:selectedType)" ng-if="$even">
            <div class="details-text">
              <div class="condoname">
                <p>{{condo.property_name}}</p>
              </div>
              <div class="condolocation">
                <p><span class="capitalize">{{condo.property_type}}</span> - For <span class="capitalize">{{condo.listing_type}}</span></p>
              </div>
            </div>
          </div>
        </div>
        <div class="details-container-right">
          <div back-img="{{condo.images[0]}}" class="details-image" ng-repeat="condo in condos = (condoList | limitTo:limit | filter:selectedType)" ng-if="$odd">
            <div class="details-text">
              <div class="condoname">
                <p>{{condo.property_name}}</p>
              </div>
              <div class="condolocation">
                <p><span class="capitalize">{{condo.property_type}}</span> - For <span class="capitalize">{{condo.listing_type}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="map-container" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
        <ng-map class="map" style="height: 100%;width:100%;" zoom="12" center="13.7563, 100.5018">
          <!-- icons="{{icons}}" -->
          <!--
          <shape name="polyline"
          path="{{btsCoords}}" 
          geodesic="true" 
          stroke-color="#FF0000" 
          stroke-opacity="0.5" 
          stroke-weight="15" 
          clickable="false"></shape>
          <shape name="polyline"
          path="{{btsCoords2}}" 
          geodesic="true" 
          stroke-color="green" 
          stroke-opacity="0.5" 
          stroke-weight="15" 
          clickable="false"></shape>
          <shape name="polyline"
          path="{{srtCoords}}" 
          geodesic="true" 
          stroke-color="cyan" 
          stroke-opacity="0.5" 
          stroke-weight="15" 
          clickable="false"></shape>
          <shape name="polyline"
          path="{{mrtCoords}}" 
          geodesic="true" 
          stroke-color="purple" 
          stroke-opacity="0.5" 
          stroke-weight="15" 
          clickable="false"></shape>
          <shape name="polyline"
          path="{{brtStationsCoords}}" 
          geodesic="true" 
          stroke-color="yellow" 
          stroke-opacity="0.5" 
          stroke-weight="15" 
          clickable="false"></shape>
          -->
          <!-- <map-data load-geo-json="events.json"></map-data> -->
        </ng-map>
      </div>
      
    </div>

      
  </body>
</html>