* {
    font-family: "Open Sans",open-sans,Arial,"Helvetica Neue",sans-serif;
    font-weight: 300;
}

body, html {
    overflow: hidden;
    padding: 0 !important;
}

body {
    width: 100% !important;
}

.capitalize {
    text-transform: capitalize;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    margin: 0 auto;
    min-width: 500px;
    /*margin-top: -20px;*/
}
.header {
    width: 100%;
    height: 101px;
    background: white;
    /*overflow-y: hidden;*/
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.header-row {
    height: 100%;
    padding-left: 283px;
}

.left-col {
    position: fixed;
    height: 100px;
    left: -20px;
    top: 0px;
}

.logo {
    height: 100%;
    border-right: 1px solid lightblue;
}

.right-col {
    height: 100%;
}

.upper-half {
    height: 50%;
    padding-bottom: 10px;
    /*box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.5);*/
}

.upper-half > div {
    height: calc(100% + 10px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.lower-half {
    height: 50%;
    background-color: rgba(137, 214, 244, 0.25);
}

.header-tab {
    height: 100%;
    border-right: 1px solid rgba(55, 55, 55, 0.25);
    text-align: center;
    padding-top: 18px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}

.header-tab:hover {
    color: #55a4ff;
}

.searchbar {
    border-right: 1px solid rgba(55, 55, 55, 0.25);
    padding: 0 !important;
    min-width: 150px;
    max-width: 250px;
}

.listing-type {
    min-width: 136px;
    max-width: 136px;
}

.search-by {
    padding-top: 10px;
    padding-bottom: 5px;
    min-width: 260px;
    max-width: 260px;
    cursor: auto;
}

.menuitem {
    padding-left: 15px;
    padding-bottom: 2px;
}

.menuitem:first-child {
    padding-top: 7px;
}

.header-img {
    height: 100%;
    margin-left: 10px;
    border: 2px solid cyan;
    cursor: pointer;
}

.header-img:hover {
    border: 2px solid pink;
}

/*.lower-half:before {
    position: absolute;
    display: block;
    box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.3);
    content: '';
    z-index: 1;
    width: calc(100% + 100px);
    top: calc(50% - 500px);
    left: -11px;
    right: 0;
    height: 500px;
    pointer-events: none;
}*/

.main-container {
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
}

.details-container-left {
    float: left;
    height: 100%;
    width: 50%;
}

.details-container-right {
    float: right;
    height: 100%;
    width: 50%;
}

.details-container {
    float: right;
    width: 390px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.map-container {
    position: relative;
    float: left;
    height: 100%;
    width: calc(100% - 390px);
}

.details-header {
    padding-left: 15px;
    padding-right: 15px;
}

.details-image {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: 175px;
    margin-bottom: 3px;
    background-size: cover;
    /*background-image: linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0.25)
    ), url("img/house.jpg");*/
    background-position: center;
    border: 1px solid #000;
}

.details-text {
    position: relative;
    top: 60%;
    height: 40%;
    width: 90%;
    padding-left: 5px;
    padding-right: 5px;
    /*margin-top: -120px;*/
    color: white;
    z-index: 2;
    position: relative;
}

.details-text .condoname {
    height: 65%;
    line-height: 1.5;
}

.details-text .condoname p {
    margin: 0;
    font-size: 28px;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    height: 100%;
}
.details-text .condolocation {
    height: 35%;
    line-height: 1;
    color: #eee;
}

.details-text .condolocation p {
    margin: 0;
    font-size: 13px;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    height: 100%;
}

/*add inset to map instead of this*/
/*.map-container:before, .map-container:after/*, .map:before, .map:after* / {
    position: absolute;
    display: block;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    content: '';
    z-index: 5;
    pointer-events: none;
}
.map-container:before {
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
    pointer-events: none;
}
.map-container:after {
    right: -1000px;
    top: 0;
    bottom: 0;
    width: 1000px;
    pointer-events: none;
}*/

.map-container:before {
    box-shadow: -8px 0 8px -8px rgba(0, 0, 0, 0.8) inset;
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    width: 8px;
    z-index: 1000;
    pointer-events: none;
}

.map-container:after {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.8) inset;
    content: "";
    width: 100%;
    top: 0;
    position: absolute;
    height: 10px;
    z-index: 1000;
    pointer-events: none;
}

.map {
    width: inherit;
    height: inherit;
}

@media only screen and (min-width: 1px) {
    .details-container { 
        display: none;
    }
    .map-container {
        width: 100%;
    }
}

@media screen and (min-width: 1007px) {
    .details-container { 
        display: initial;
    }
    .details-container-left {
        width: 100%;
    }
    .details-container-right {
        width: 0%;
    }
    .map-container {
        width: calc(100% - 390px);
    }
    .details-image {
        margin-bottom: 3px;
        width: 100%;
    }
} 

@media screen and (min-width: 1280px) {
    .details-container { 
        display: initial;
        width: 680px;
    }
    .details-container-left {
        position: relative;
        width: 50%;
        left: 1%;
    }
    .details-container-right {
        position: relative;
        width: 50%;
        left: 0.5%;
    }
    .map-container {
        width: calc(100% - 680px);
    }
    .details-image {
        margin-bottom: 7px;
        width: 96.2%;
        /*margin-left: 2%;*/
    }
}

.small-details-container {
    padding-left: 0px;
}

.small-details-container * {
    padding-left: 0px !important;
}

.info-container * {
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
.small-img-container {
    height: 54px;
    overflow: hidden;
}

.small-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gm-style-iw + div {
    display: none;
}

.gm-style-iw + div + img {
    display: none;
}

.gm-style-iw {
    left: 10px !important;
    top: 10px !important;
}

.gm-style-iw * {
    overflow: hidden;
}

.condopricesmall {
    font-weight: bold;
}

.condopricesmall, .condonamesmall, .condolocationsmall {
}